<div class="container_home-page">
    <div class="home-page_header">
        <app-menu-bar></app-menu-bar>
    </div>
    

    <div class="home-page_title">
        <app-menu-title></app-menu-title>
    </div>
    
    <div class="home-page_news">
        <div class="news_main-news">
            <app-big-card
                id="0"
                photoUrl="https://via.placeholder.com/1080x720/eee?text=3:2"
                date="Jul 17, 2023"
                title="Beberapa cara menggunakan bold typography pada design website"
                newsContent="Di artikel ini saya membuat daftar hal hal yang bisa digunakan dengan bold typography pada design website. Agar bold typography menjadi menarik dan tidak mengganggu visual.">
            </app-big-card>
        </div>

        <div class="news_others-news">
            <app-small-card 
                id="1"
                photoUrl="https://via.placeholder.com/1080x720/eee?text=3:2"
                date="januari 11, 2022"
                title="Bisakah eksplorasi design dipakai untuk melamar pekerjaan UI Designer?">
            </app-small-card>

            <hr>

            <app-small-card 
                id="2"
                photoUrl="https://via.placeholder.com/1080x720/eee?text=3:2"
                date="januari 11, 2022"
                title="Bisakah eksplorasi design dipakai untuk melamar pekerjaan UI Designer?">
            </app-small-card>

            <hr>
            <app-small-card 
                id="3"
                photoUrl="https://via.placeholder.com/1080x720/eee?text=3:2"
                date="januari 11, 2022"
                title="Bisakah eksplorasi design dipakai untuk melamar pekerjaan UI Designer?">
            </app-small-card>
        </div>
    </div>
    
</div>
